<% // Render your search results here %>
<% // This is how to do comments in EJS, by the way... %>
<!-- <h2>Results</h2> -->
<%= // console.log(data[0]) %>
<%# Loop through array of data %>
<% // data.forEach(movie=> { %>
    <!-- <img src='<%= // movie.Poster %>' alt='poster of <%= // movie.Title %>'/>
    <a href='movies/<%= // movie.imdbID %>'><%= // movie.Title %></a> -->
<% // }) %> 

<!-- Search container -->
<div class="py-4 py-lg-6 bg-primary results-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div>
          <h1 class="text-white mb-1 display-4">Searching</h1>
          <p class="mb-0 text-white lead">Showing results for "<%= searchQuery %>"</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = container>

<!-- Toggles and filters-->
<ul class="nav filtersNav">
  <li class="nav-item">
    <div class="dropdown">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="custom-control custom-checkbox checkbox-pad">
          <input type="checkbox" class="custom-control-input" id="cat1" data-toggle="indeterminate">
          <label class="custom-control-label" for="cat1">Category 1</label>
      </div>
        <div class="custom-control custom-checkbox checkbox-pad">
          <input type="checkbox" class="custom-control-input" id="cat2" data-toggle="indeterminate">
          <label class="custom-control-label" for="cat2">Category 2</label>
      </div>
    </div>
  </li>
  <li class="nav-item content-pad">
    <button type="button" class="btn btn-outline-primary dropdown-toggle">Time</button>
  </li>
  <li class="nav-item content-pad">
    <button type="button" class="btn btn-outline-primary dropdown-toggle">Level</button>
  </li>
  <li class="nav-item content-pad">
    <button type="button" class="btn btn-outline-primary dropdown-toggle">Price</button>
  </li>
</ul>


  <!-- Content -->
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card  mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-react.jpg" alt="" class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">How to easily
                create a website with React</a></h3>
            <ul class="mb-3  list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>3h 56m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                </svg>Beginner </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(6,300)</span>
            </div>
          </div>
          <!-- Card footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-6.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Morris Mccoy</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card  mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-graphql.jpg" alt="" class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">GraphQL:
                introduction to graphQL for beginners</a></h3>
            <ul class="mb-3 list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>2h 46m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE"></rect>
                </svg>Advance </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(4,300)</span>
            </div>
          </div>
          <!-- Card Footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-7.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Ted Hawkins</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card  mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-angular.jpg" alt="" class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">Angular - the
                complete guide for beginner</a></h3>
            <ul class="mb-3  list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>1h 30m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                </svg>Beginner </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(5,410)</span>
            </div>
          </div>
          <!-- Card footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-8.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Juanita Bell</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-python.jpg" alt="" class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h3 class="h4 mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">The Python
                Course: build web application</a></h3>
            <ul class="mb-3  list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>2h 30m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                </svg>Intermediate </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(9,300)</span>
            </div>
          </div>
          <!-- Card footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-9.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Claire Robertson</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card  mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-gatsby.jpg" alt="" class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h4 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">Gatsby JS: build
                blog with GraphQL and React</a></h4>
            <ul class="mb-3  list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>3h 56m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                </svg>Beginner </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(9,370)</span>
            </div>
          </div>
          <!-- Card Footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-5.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Morris Mccoy</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card  mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-javascript.jpg" alt=""
              class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h4 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">JavaScript: modern
                javaScript from the beginning</a></h4>
            <ul class="mb-3  list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>2h 46m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE"></rect>
                </svg>Advance </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(5,245)</span>
            </div>
          </div>
          <!-- Card footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-6.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Ted Hawkins</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-css.jpg" alt="" class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h4 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">CSS: ultimate CSS
                course from beginner to advanced</a></h4>
            <ul class="mb-3  list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>1h 30m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                </svg>Beginner </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(17,000)</span>
            </div>
          </div>
          <!-- Card footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-7.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Juanita Bell</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Card -->
        <div class="card  mb-4 card-hover">
          <a href="#!" class="card-img-top"><img src="../assets/images/course-wordpress.jpg" alt=""
              class="card-img-top rounded-top"></a>
          <!-- Card body -->
          <div class="card-body">
            <h4 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">Wordpress: complete
                WordPress theme &amp; plugin development</a></h4>
            <ul class="mb-3  list-inline">
              <li class="list-inline-item"><i class="far fa-clock mr-1"></i>2h 30m</li>
              <li class="list-inline-item"><svg class="mr-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                </svg>Intermediate </li>
            </ul>
            <div class="lh-1">
              <span>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning mr-n1"></i>
                <i class="mdi mdi-star text-warning"></i>
              </span>
              <span class="text-warning">4.5</span>
              <span class="font-size-xs text-muted">(16,500)</span>
            </div>
          </div>
          <!-- Card footer -->
          <div class="card-footer">
            <div class="row align-items-center no-gutters">
              <div class="col-auto">
                <img src="../assets/images/avatar-8.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="col ml-2">
                <span>Claire Robertson</span>
              </div>
              <div class="col-auto">
                <a href="#!" class="text-muted" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Add to Bookmarks">
                  <i class="fe fe-bookmark  "></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- PAGINATION -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled outline-primary">
      <a class="page-link outline-primary" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link outline-primary" href="#">1</a></li>
    <li class="page-item"><a class="page-link outline-primary" href="#">2</a></li>
    <li class="page-item"><a class="page-link outline-primary" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link outline-primary" href="#">Next</a>
    </li>
  </ul>
</nav>
</nav>