<div class="pt-5">
    <div class="container">
            <!-- User info -->
        <div class="row align-items-center">			
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top instructor-bg"> </div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="../assets/images/avatar-3.jpg" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                <%= currentUser.username %>
								<span class="badge badge-light-primary text-primary">Instructor</span>
                                </a>
                            </h2>
                            <p class="mb-0 d-block">
                            <% if (currentUser.tag != null) { %>
                                <%= currentUser.tag %>
                                <% } else { %>
                                    Golden Path Instructor 
                                    <% } %>
                        </p>
                        </div>
                    </div>
                    <div>
                    <div>
                        <a href="/instructor/profile" class="btn btn-outline-primary btn-sm d-none d-md-block">View your public profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="pb-5 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 small-sidenav">
                    <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                    <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#smallSidenav" aria-controls="smallSidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                    <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="smallSidenav">
                        <div class="navbar-nav flex-column">
                            <a href="/instructor/add-course" class="btn btn-primary btn-sm d-none d-md-block">Add a new course</a>
                            <span class="navbar-header">Account Settings</span>
                                <!-- List -->
                            <ul class="list-unstyled ml-n2 mb-0">
								<!-- Nav Item instructor-->
								<li class="nav-item">
									<a class="nav-link" href="/instructor/my-courses/<%= currentUser.id %> ><i class="fe fe-book nav-icon"></i>My Courses</a>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/profile-edit/<%= currentUser.id %> "><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/security/<%= currentUser.id %> "><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="/instructor/payment-method/<%= currentUser.id %> "><i class="fe fe-credit-card nav-icon"></i>Payment</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/delete-profile/<%= currentUser.id %> "><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/logout/<%= currentUser.id %> "><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card mb-4">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Payment Methods</h3>
                        <span>Primary payment method is used by default</span>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- List group -->
                        <ul class="list-group list-group-flush">
                            <!-- List group item -->
                            <li class="list-group-item px-0 pb-3 pt-0">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <img src="../assets/images/logo-visa.svg" alt="" class="mr-3" />
                                        <div>
                                            <h5 class="mb-0"></h5>
                                            <p class="mb-0 font-size-xs"></p>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="badge badge-success mr-4">Primary</span>
                                        <span class="dropdown">
                                            <a class="text-muted text-decoration-none" href="#!" role="button" id="paymentDropdown"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>
                                            <span class="dropdown-menu dropdown-menu-right" aria-labelledby="paymentDropdown">
                                                <span class="dropdown-header">Setting </span>
                                                <a class="dropdown-item" href="#!"><i class="fe fe-edit dropdown-item-icon"></i>Edit</a>
                                                <a class="dropdown-item" href="#!"><i class="fe fe-trash dropdown-item-icon"></i>Remove</a>
                                                <a class="dropdown-item" href="#!"><i class="fe fe-credit-card dropdown-item-icon"></i>Make it
                                                    Primary</a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        <!-- button-->
                        <a href="#!" class="btn btn-outline-primary mt-4" data-toggle="modal" data-target="#exampleModal">Add
                            Payment Method</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center d-flex">
                <h4 class="modal-title" id="exampleModalLabel">
                    Add New Payment Method
                </h4>
                <button type="button" class="btn btn-light btn-icon" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fe fe-x font-size-md"></i></span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <!-- Form -->
                    <form class="form-row mb-4">
                        <div class="form-group col-12 col-md-12 mb-4">
                            <h5 class="mb-3">Credit / Debit card</h5>
                            <!-- Radio button -->
                            <div class="custom-control custom-radio custom-control-inline mr-1">
                                <input type="radio" id="paymentRadioOne" name="paymentRadioOne" class="custom-control-input" />
                                <label class="custom-control-label" for="paymentRadioOne"><img
                                        src="../assets/images/logo-americanexpress.svg" alt="" /></label>
                            </div>
                                <!-- Radio button -->
                            <div class="custom-control custom-radio custom-control-inline mr-1">
                                <input type="radio" id="paymentRadioTwo" name="paymentRadioOne" class="custom-control-input" />
                                <label class="custom-control-label" for="paymentRadioTwo"><img
                                        src="../assets/images/logo-mastercard.svg" alt="" /></label>
                            </div>
                                <!-- Radio button -->
                            <div class="custom-control custom-radio custom-control-inline mr-1">
                                <input type="radio" id="paymentRadioThree" name="paymentRadioOne" class="custom-control-input" />
                                <label class="custom-control-label" for="paymentRadioThree"><img
                                        src="../assets/images/logo-paypal.svg" alt="" /></label>
                            </div>
                                <!-- Radio button -->
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="paymentRadioFour" name="paymentRadioOne" class="custom-control-input" />
                                <label class="custom-control-label" for="paymentRadioFour"><img src="../assets/images/logo-visa.svg"
                                        alt="" /></label>
                            </div>
                        </div>
                        <!-- Name on card -->
                        <div class="form-group col-12 col-md-4">
                            <label for="nameoncard" class="form-label">Name on card</label>
                            <input id="nameoncard" type="text" class="form-control" name="nameoncard" placeholder="Name" required />
                        </div>
                            <!-- Month -->
                        <div class="form-group col-12 col-md-4">
                            <label class="form-label">Month</label>
                            <select class="selectpicker" data-width="100%">
                                <option value="">Month</option>
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="Aug">Aug</option>
                                <option value="Sep">Sep</option>
                                <option value="Oct">Oct</option>
                                <option value="Nov">Nov</option>
                                <option value="Dec">Dec</option>
                            </select>
                        </div>
                            <!-- Year -->
                        <div class="form-group col-12 col-md-4">
                            <label class="form-label">Year</label>
                            <select class="selectpicker" data-width="100%">
                                <option value="">Year</option>
                                <option value="June">2018</option>
                                <option value="July">2019</option>
                                <option value="August">2020</option>
                                <option value="Sep">2021</option>
                                <option value="Oct">2022</option>
                            </select>
                        </div>
                            <!-- Card number -->
                        <div class="form-group col-md-8 col-12">
                            <label for="cc-mask" class="form-label">Card Number</label>
                            <input type="text" class="form-control" id="cc-mask" data-inputmask="'mask': '9999 9999 9999'"
                                inputmode="numeric" placeholder="xxxx-xxxx-xxxx-xxxx" required />
                        </div>
                            <!-- CVV -->
                        <div class="form-group col-md-4 col-12">
                            <div class="form-group">
                                <label for="cvv" class="form-label">CVV Code
                                    <i class="fas fa-question-circle ml-1" data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="A 3 - digit number, typically printed on the back of a card."></i></label>
                                <input type="text" class="form-control" name="cvv" id="cvv" placeholder="xxx"
                                    data-inputmask="'mask': '999'" inputmode="numeric" required />
                            </div>
                        </div>
                            <!-- Button -->
                        <div class="col-md-6 col-12">
                            <button class="btn btn-primary btn-sm" type="submit">
                                Add New Card
                            </button>
                            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                    <span><strong>Note:</strong> that you can later remove your card at
                        the account setting page.</span>
                </div>
            </div>
        </div>
    </div>
</div>