<div class="pt-5">
    <div class="container">
            <!-- User info -->
        <div class="row align-items-center">			
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top instructor-bg"> </div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="../assets/images/avatar-3.jpg" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                Instructor
                                <a href="#!" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
							<p class="mb-0 d-block">
								<% if (currentUser.tag != null) { %>
									<%= currentUser.tag %>
									<% } else { %>
										Golden Path Instructor 
										<% } %>
							</p>
                        </div>
                    </div>
                    <div>
                    <div>
                        <a href="/instructor/profile" class="btn btn-outline-primary btn-sm d-none d-md-block">View your public profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="pb-5 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 small-sidenav">
                    <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                    <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#smallSidenav" aria-controls="smallSidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                    <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="smallSidenav">
                        <div class="navbar-nav flex-column">
							<a href="/instructor/add-course" class="btn btn-primary btn-sm d-none d-md-block">Add a new course</a>
                            <span class="navbar-header">Account Settings</span>
                                <!-- List -->
                            <ul class="list-unstyled ml-n2 mb-0">
								<!-- Nav Item instructor-->
								<li class="nav-item">
									<a class="nav-link" href="/instructor/my-courses/<%= currentUser.id %> "><i class="fe fe-book nav-icon"></i>My Courses</a>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/profile-edit/<%= currentUser.id %> "><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="/instructor/security/<%= currentUser.id %> "><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/payment-method/<%= currentUser.id %> "><i class="fe fe-credit-card nav-icon"></i>Payment</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/delete-profile/<%= currentUser.id %> "><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/instructor/logout/<%= currentUser.id %> "><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        	<div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<h3 class="mb-0">Security</h3>
							<p class="mb-0">
								Edit your account settings and change your password here.
							</p>
						</div>
						<!-- Card body -->
						<div class="card-body">
							<h4 class="mb-0">Email Address</h4>
							<p>
								Your current email address is
								<span class="text-success">user001@gmail.com</span>
							</p>
							<form class="form-row">
								<div class="form-group col-lg-6 col-md-12 col-12">
									<label class="form-label" for="email">New email address</label>
									<input id="email" type="email" name="email" class="form-control" placeholder="" required />
									<button type="submit" class="btn btn-primary mt-2">
										Update Details
									</button>
								</div>
							</form>
							<hr class="my-5" />
							<div>
								<h4 class="mb-0">Change Password</h4>
								<p>
									We will email you a confirmation when changing your
									password, so please expect that email after submitting.
								</p>
								<!-- Form -->
								<form class="form-row">
									<div class="col-lg-6 col-md-12 col-12">
											<!-- Current password -->
										<div class="form-group">
											<label class="form-label" for="currentpassword">Current password</label>
											<input id="currentpassword" type="password" name="currentpassword" class="form-control"
												placeholder="" required />
										</div>
											<!-- New password -->
										<div class="form-group password-field">
											<label class="form-label" for="newpassword">New password</label>
											<input id="newpassword" type="password" name="newpassword" class="form-control mb-2"
												placeholder="" required />
											<div class="row align-items-center no-gutters">
												<div class="col-6">
													<span data-toggle="tooltip" data-placement="right"
														title="Test it by typing a password in the field below. To reach full strength, use at least 6 characters, a capital letter and a digit, e.g. 'Test01'">Password
														strength
														<i class="fas fa-question-circle ml-1"></i></span>
												</div>
											</div>
										</div>
										<div class="form-group">
												<!-- Confirm new password -->
											<label class="form-label" for="confirmpassword">Confirm New Password</label>
											<input id="confirmpassword" type="password" name="confirmpassword" class="form-control mb-2"
												placeholder="" required />
										</div>
											<!-- Button -->
										<button type="submit" class="btn btn-primary">
											Save Password
										</button>
										<div class="col-6"></div>
									</div>
									<div class="col-12 mt-4">
										<p class="mb-0">
											Can't remember your current password?
											<a href="#!">Reset your password via email</a>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>