<div class="pt-5">
    <div class="container">
            <!-- User info -->
        <div class="row align-items-center">			
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top student-bg"> </div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                <%= currentUser.username %>
                                </a>
                            </h2>
                            <% if(currentUser.tag === undefined) { %>
                                <p class="mb-0 d-block">Student</p>
                            <% } else { %>
                                <p class="mb-0 d-block"><%= currentUser.tag %></p>
                            <% } %>
                        </div>
                    </div>
                    <div>
                    <div>
                        <a href='/student/dashboard/<%=currentUser.id%>' class="btn btn-outline-primary btn-sm d-none d-md-block">Go to
                            Student Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="pb-5 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 small-sidenav">
                    <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                    <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#smallSidenav" aria-controls="smallSidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                    <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="smallSidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Account Settings</span>
                                <!-- List -->
                            <ul class="list-unstyled ml-n2 mb-0">
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/student/profile-edit/<%= currentUser.id %> "><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/student/security/<%= currentUser.id %> "><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="/student/delete-profile/<%= currentUser.id %> "><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/student/logout/<%= currentUser.id %> "><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Delete your account</h3>
                        <p class="mb-0">Delete or Close your account permanently.</p>
                    </div>
                    <!-- Card body -->
                    <div class="card-body p-4">
                        <span class="text-danger h4">Warning</span>
                        <p>
                            If you close your account, you will be unsubscribed from all
                            your 0 courses, and will lose access forever.
                        </p>
                        <form action="/student/delete-profile/<%=currentUser.id%>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Close My Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
