<div class="pt-5">
    <div class="container">
            <!-- User info -->
        <div class="row align-items-center">			
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top student-bg"></div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="../assets/images/avatar-3.jpg" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
						<div class="lh-1">
                            <h2 class="mb-0">
                                <%= currentUser.username %>
                                </a>
                            </h2>
                            <% if(currentUser.tag === undefined) { %>
                                <p class="mb-0 d-block">Student</p>
                            <% } else { %>
                                <p class="mb-0 d-block"><%= currentUser.tag %></p>
                            <% } %>
                        </div>
                    </div>
                    <div>
                    <div>
                        <a href="/student/dashboard" class="btn btn-outline-primary btn-sm d-none d-md-block">Go to
                            Student Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="pb-5 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 small-sidenav">
                    <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                    <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#smallSidenav" aria-controls="smallSidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                    <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="smallSidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Account Settings</span>
                                <!-- List -->
                            <ul class="list-unstyled ml-n2 mb-0">
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/student/profile-edit/<%= currentUser.id %> "><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="/student/security/<%= currentUser.id %> "><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/student/delete-profile/<%= currentUser.id %> "><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/student/logout/<%= currentUser.id %> "><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            				<!-- Content -->
				<div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<h3 class="mb-0">Security</h3>
							<p class="mb-0">
								Edit your account settings and change your password here.
							</p>
							<%- include('../../partials/alerts') %>
						</div>
						<!-- Card body -->
						<div class="card-body">
							<h4 class="mb-0">Email Address</h4>
							<p>
								Your current email address is
								<span class="text-success"><%= currentUser.email %> </span>
							</p>
							<form class="form-row" action="/student/security/<%= currentUser.id%>?_method=PUT" method="POST">
								<div class="form-group col-lg-6 col-md-12 col-12">
									<label class="form-label" for="email">New email address</label>
									<input id="email" type="email" name="email" class="form-control" placeholder="" required />
									<button type="submit" class="btn btn-primary mt-2">
										Update Details
									</button>
								</div>
							</form>
							<hr class="my-5" />
							<div>
								<h4 class="mb-0">Change Password</h4>
								<p>
									We will email you a confirmation when changing your
									password, so please expect that email after submitting.
								</p>
								<!-- Form -->
								<form class="form-row" action="/student/security/<%= currentUser.id%>?_method=PUT" method="POST">
									<div class="col-lg-6 col-md-12 col-12">
											<!-- Current password -->
										<div class="form-group">
											<label class="form-label" for="currentPassword">Current password</label>
											<input id="currentPassword" type="password" name="currentPassword" class="form-control"
												placeholder="" required />
										</div>
											<!-- New password -->
										<div class="form-group password-field">
											<label class="form-label" for="newPassword">New password</label>
											<input id="newPassword" type="password" name="newPassword" class="form-control mb-2"
												placeholder="" required />
										</div>
										<div class="form-group">
												<!-- Confirm new password -->
											<label class="form-label" for="confirmPassword">Confirm New Password</label>
											<input id="confirmPassword" type="password" name="confirmPassword" class="form-control mb-2"
												placeholder="" required />
										</div>
											<!-- Button -->
										<button type="submit" class="btn btn-primary">
											Save Password
										</button>
										<div class="col-6"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>